.company-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .smart-box {
    background-color: rgba(136, 160, 240, 0.8); /* Set the background color with opacity */
    padding: 20px;
    border-radius: 5px;
  }
  
  .smart-box h3 a {
    color: #333;
    text-decoration: none;
  }
  
  .smart-box p {
    margin: 5px 0;
    color: #080808; /* Set paragraph text color to slightly darker */
  }